// Bootstrap
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

@import '../../node_modules/bootstrap/scss/reboot';
@import '../../node_modules/bootstrap/scss/grid';

// Utility
@import '../../node_modules/bootstrap/scss/utilities/background';
@import '../../node_modules/bootstrap/scss/utilities/spacing';
@import '../../node_modules/bootstrap/scss/utilities/display';
@import '../../node_modules/bootstrap/scss/utilities/flex';
@import '../../node_modules/bootstrap/scss/utilities/sizing';
@import '../../node_modules/bootstrap/scss/utilities/text';
@import "../../node_modules/bootstrap/scss/buttons";
@import 'utility' ;

//ICON
@import "vendor/font-awesome.min.css";
@import "vendor/hamburgers/hamburgers.scss";

//FONT
@import "typography";


$font-heading: 'Hasanamadolobombom', sans-serif;
$font-body: 'Raleway', sans-serif;
$black-primary: #222222;
$black-secondary: #666666;
$theme-colors: (
    "primary": #267df4
);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

html {
    font-size: 16px;
    overflow-y: scroll;
}

::-moz-selection { background: #cbeafb; }
::selection { background: #cbeafb; }

body {
    font-family: $font-body;
    font-size: 1rem;
    line-height: 1.8;
    color: $black-secondary;
    -webkit-font-smoothing: antialiased;
    position: relative;
    z-index: -1;
    overflow-x: hidden;
    @include media-breakpoint-down(sm) {
        font-size: .8rem;
    }
}

ul, li {
    list-style: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

button, button:hover, button:focus, button:active {
    outline: none;
    border: none;
}

/*===========================
 Fonts
 ============================*/

h1,h2,h3,h4,h5,h6 {
    font-family: $font-heading;
    color: $black-primary;
}

a {
    transition: .3s all ease;
    color: inherit;
	&:hover, &:active, &:focus {
        color: theme-color('primary');
		text-decoration: none;
		outline: none;
	}
}

h1 {
    font-size: 3.6rem;
    letter-spacing: -2px;
    @include media-breakpoint-down(sm) {
        font-size: 2.2rem;
        line-height: 1.3;
    }
}
h2 {
    font-size: 2.5rem;
    letter-spacing: -2px;
    @include media-breakpoint-down(sm) {
        font-size: 2rem;
    }
}
h3 {font-size: 2rem;}
h4 {font-size: 1.2rem;}
h5 {font-size: 1rem;}

.upperline {
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $black-secondary;
}


/*========================
 Button
 =========================*/

.main-btn {
    font-size: 1rem;
    font-weight: 600;
    font-family: $font-heading;
    transition: all .2s ease;
    color: $white;
    min-width: 150px;
    // padding: .5rem 1rem;
    padding: .5rem 2.1rem;
    background: $black-primary;
    outline: none;
    border: none;
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 7px 9px rgba(theme-color('primary'),.3), 0 3px 6px rgba(0,0,0,.08);
        background-color: #111;
        color: $white;
    }
}

.main-btn-outline {
    font-size: 1rem;
    font-weight: 600;
    font-family: $font-heading;
    transition: all 0.2s ease;
    color : $white;
    border: 2px solid $white;
    min-width: 150px;
    padding: .5rem 2.1rem;
    background: none;

    &:hover {
        transform: translateY(-5px);
        // box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
        box-shadow: 0 3px 6px rgba(0,0,0,.6);
        background-color: theme-color('primary');
        color: $white;
        border: 2px solid theme-color('primary');
    }
}

.hero-btn {
    font-size: 1rem;
    font-weight: 600;
    font-family: $font-heading;
    transition: all 0.2s ease;
    color : $black-primary;
    border: 2px solid $black-primary;
    min-width: 150px;
    padding: .5rem 2.1rem;
    background: none;

    &:hover {
        transform: translateY(-5px);
        // box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
        box-shadow: 0 7px 9px rgba(theme-color('primary'),.3), 0 3px 6px rgba(0,0,0,.08);
        background-color: $black-primary;
        color: $white;
        border: 2px solid $black-primary;
    }
}

.text-btn {
    font-size: .968rem;
    font-weight: 600;
    font-family: $font-heading;
    transition: all .2s ease;
    color: inherit;
    text-decoration: underline;
    outline: none;
    border: none;
    background: transparent;
}

/*========================
 Layout
 =========================*/

main {
    width: 100%;
    position: relative;
}

.page-content {
    background-color: $white;
}

.container {
    @include media-breakpoint-down(md) {
        & {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}

header {
    width: 100%;
    height: 70px;
    background: $white;
    box-shadow: 0 2px 6px rgba(0,0,0,.08);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @include media-breakpoint-down(md) {
            position: static;
            transform: none;
        }
        img {
            width: 32px;
            height: auto;
        }
    }

    .main-navigation {
        ul {
            display: flex;
            align-items: center;

            li {
                margin-right: 20px;
                a {
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }

    .drawer-trigger {
        line-height: 0;
    }

    .social {
        font-size: 18px;
        a {
            margin-left: 20px;
        }
    }

    .main-drawer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 70px);
        background: #fafafa;
        position: absolute;
        top: 70px;
        left: 0;
        visibility: hidden;
        opacity: 0;
        transform: translateY(100vh);
        transition: all .5s ease;

        .drawer-inner {
            width: 100%;

            & > a {
                display: block;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 600;
                margin-top: .5rem;
                opacity: 0;
                visibility: hidden;
                transform: translateY(20px);
                transition: transform .6s ease, opacity .6s ease;
                &:hover {
                    color: theme-color('primary');
                }
            }
            .social {
                display: flex;
                @extend %flex-center;
                margin-top: 2rem;
                transform: scale(0);
                visibility: hidden;
                opacity: 0;
                transition: all .4s ease;
                a {
                    font-size: 1.6rem;
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .main-drawer.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);

        .drawer-inner {
        & > a {
            opacity: 1;
            visibility: visible;
            transition: transform .6s ease, opacity .6s ease;
            transform: translateY(0);
            &:nth-child(1) {transition-delay: .1s;}
            &:nth-child(2) {transition-delay: .2s;}
            &:nth-child(3) {transition-delay: .3s;}
            &:nth-child(4) {transition-delay: .4s;}
            &:nth-child(5) {transition-delay: .5s;}
        }

        .social {
            transform: scale(1);
            opacity: 1;
            visibility: visible;
            transition: all .4s ease .8s;
        }
        }
    }

}

footer {
    width: 100%;
    background: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    p {
        font-size: 15px;
    }

    @include media-breakpoint-down(sm) {
        .right {
            margin-top: 5px;
        }
    }
}

.page-transition-in {
    transition: 0.25s;
    opacity: 0;
    animation: slideUp 0.9s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    transform: translate3d(0, 4vh, 0);
}

.page-transition-out {
    transition: 0.25s;
    opacity: 1;
    animation: slideDown 0.9s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    transform: translate3d(0, 4vh, 0);
}

@keyframes slideUp {
    0% {
      transform: translate3d(0, 4vh, 0);
      opacity: 0;
    }
    100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  @keyframes slideDown {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    100% {
      transform: translate3d(0, 4vh, 0);
      opacity: 0;
    }
  }

/* ===============
Sections
================== */

@import './sections/index';
